html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.background_style {
  overflow: auto;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background: linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%), linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%), linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%), linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

.nav {
  display: flex;
  justify-content: center;
}

ul {
  font-size: 24px;
  list-style: none;
  display: flex;
  margin: 60px auto;
}

ul li {
  margin: 0 30px;
}

a {
  color: #000;
  text-decoration: none;
}

.content {
  margin: 0 auto;
  width: 500px;
  font-size: 20px;
  line-height: 2;
  position: relative;
}

.highlight {
  opacity: 0.5;
  transition: all 0.2s;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  background: white;
  left: 0;
  z-index: 0;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);